<% layout('layouts/boilerplate')%>
<div id="cluster-map"></div>
<h1 class="mt-5">All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Create New Campground</a>
</div>
<% for (let camp of allcamps){%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if (camp.images.length) { %>
            <img crossorigin="anonymous" class="img-fluid" alt="" src="<%=camp.images[0].url%>">
            <% } else { %>
            <img crossorigin="anonymous" class="img-fluid" alt="" src="https://res.cloudinary.com/dpbdgfr8w/image/upload/v1725953451/YelpCamp/fvqjixkm3cnzxq8pn1un.jpg">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= camp.title %></h5>
                <p class="card-text"><%= camp.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= camp.location%></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%=camp._id%>">View Camp</a>
            </div>
        </div>
    </div>
</div>
<% }%>

<script crossorigin="anonymous">
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const campgrounds = {features: <%- JSON.stringify(allcamps) %>};
</script>
<script src="/jsScripts/clusterMap.js"></script>